.displayNone {
  display: none;
}
.header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(32, 32, 32, 0.9) 100%
  );
  width: 100%;
}
.navBar {
  padding: 6.08rem 20.267rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.41rem;
}
.navbar-logo {
  color: var(--btn-color);
  font-size: 3.84rem;
  font-weight: 800;
  font-style: italic;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.013rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.navBar ul li {
  margin: 1.253rem;
  list-style: none;
  /* padding: 0.853rem 2.134rem; */
}
.navBar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.92rem;
  font-weight: 400;
  padding: 0.853rem 2.134rem;
}
#home {
  background-color: rgb(230, 83, 60);
  border-radius: 4.6rem;
}
.navBar i {
  display: none;
}
/* ===============================
          Banner Section
   =============================== */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 14.93rem 10.67rem 20.267rem; */
  margin: 0 14.93rem 0 20.267rem;
  gap: 5.76rem;
  color: white;
}
/*  */
.banner-description {
  color: white;
  margin-right: 17.81rem;
}
.banner-description-title {
  font-size: 8.32rem;
  font-weight: 900;
  line-height: 120%;
}
#bdts {
  font-family: "miama";
  font-weight: 400;
}

.banner-description-subtitle {
  margin: 2.987rem 0;
  font-size: 1.7067rem;
  font-weight: 400;
  line-height: 2.56rem;
  letter-spacing: 0.5px;
}
.banner-description-btn2 {
  border: 1px solid white;
  background-color: #000;
  margin-left: 1.49rem;
}
/* image container */
.banner-img-container {
  width: 40%;
  position: relative;
}

.banner-img-container img {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}
.blur-item-tutorial {
  position: absolute;
  top: 22%;
  right: -19%;
  backdrop-filter: blur(2rem);
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.71rem 2.56rem;
}
.blur-item-tutorial h3 {
  font-size: 4.267rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 1px;
}
.blur-item-tutorial p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.65);
}
.blur-item-workout {
  position: absolute;
  bottom: 13.5%;
  left: -28%;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 1.28rem;
  justify-content: center;
  align-items: center;
  padding: 2.13rem 2.453rem;
}
.blur-item-workout h3 {
  font-size: 2.56rem;
  font-weight: 900;
  line-height: 2.56rem;
  letter-spacing: 0.3px;
}
.blur-item-workout p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}
.empty-div {
  width: 4rem;
  height: 4rem;
  background-color: var(--btn-color);
  border-radius: 50%;
}
/* Responsive section */
/* @media screen and (min-width: 576px) and (max-width: 992px) {

} */
@media screen and (max-width: 576px) {
  .navBar {
    width: 100%;
    padding: 5.2rem 2rem 5.1rem;
  }
  .navBar ul {
    display: none;
  }
  .navBar i {
    display: contents;
    color: white;
    font-size: 2.4rem;
  }
  .banner {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0 2rem;
  }
  .banner-description {
    margin-right: 0;
  }
  .banner-description-title {
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 2.8rem;
  }
  .banner-description-subtitle {
    text-align: justify;
  }
  .banner-btn-container button {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1.6rem 1.4rem;
    letter-spacing: 0.1rem;
  }
  .bbc-span {
    display: none;
  }
  .banner-img-container {
    width: 100%;
  }
  .banner-img-container img {
    width: 100%;
  }
  .blur-item-tutorial {
    top: 12%;
    right: 1%;
  }
  .blur-item-tutorial h3 {
    font-size: 3.024rem;
    line-height: 3.024rem;
    letter-spacing: 0.76px;
  }
  .blur-item-tutorial p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.512rem;
    letter-spacing: 0.9px;
  }
  .blur-item-workout {
    bottom: 43%;
    left: 6%;
  }
}
