.run-section {
  width: 72.5%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 3.4rem 3.2rem 3.76rem;
  gap: 17.6rem;
}
.run-section-description {
  width: 41.79%;
}
.run-section-subtitle {
  margin: 1.49rem 0 3.627rem;
}
.run-section-img {
  width: 34.528%;
  /* border: 2px solid red; */
}
.run-section-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.8rem;
}
@media screen and (max-width: 576px) {
  .run-section {
    width: calc(100% - 2rem);
    /* padding: 1.5rem 1rem; */
    padding: 1.5rem 0;
    flex-direction: column;
    gap: 2rem;
  }
  .run-section-description,
  .run-section-img {
    width: calc(100% - 6.6rem);
  }
  .run-section-title {
    font-size: 2.5rem;
  }
  .run-section-subtitle {
    text-align: justify;
  }
  .run-section-btn {
    padding: 1.6rem 8.9rem;
    font-size: 1.99rem;
  }
}
